/* body {
    background-image: url(../Word-Guess-Game/Assets/Background.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */
header {
    text-align: center;
}
h1 {
    text-align: center;
}
